
.leftMove{
	animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime{
  from {
    opacity: 1;
	transform: translateX(0px);
  }
  to {
    opacity: 0;
	transform: translateX(-30px);
  }
}

/*　右の動き　*/

.rightMove{
	animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime{
  from {
  	opacity: 0;
	transform: translateX(-30px);
  }
  to {
  	opacity: 1;
	transform: translateX(0px);
  }
}